@use '../../styles/variables.scss' as *;

.connect {
  background-color: #ffffff;
  width: 822px;
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  border: 1px solid #EBEBEB;

  button {
    width: fit-content;
    padding: 10px 16px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: $font-inter;
    &:hover {
      background-color: darken(#000, 10%);
      color: #fff;
    }

    &.disconnect{
        border: 1px solid #171717;
        padding: 5px 8px;
        margin-left: 20px;
    }

    &.continue {
      background-color: #171717;
      color: #fff;
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &.back{
      background-color: #ffffff;
      color: #171717;
      display: flex;
      align-items: center;
      gap: 8px;
      border: 1px solid #EBEBEB;
      margin-right: 10px;
    }
  }


  .footer{
    padding: 16px;
    display: flex;
    justify-content: flex-end;

    .btn1{
        background-color: #FFFFFF;
        border: 1px solid #EBEBEB !important;
        color: #5C5C5C;
        margin-right: 12px;
    }
  }

  .header {
    background-color: #FFFFFF;
    padding: 16px;
    border: 0;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &>div{
        display: flex;
        align-items: center;

        svg{
            margin-right: 14px;
        }
    }
     h4 {
      font-family: $font-inter;
      font-size: 16px;
      font-weight: 600;
      color: #000;
      line-height: 24px;
    }
    p {
      font-family: $font-inter;
      font-size: 14px;
      font-weight: 400;
      color: #5c5c5c;
    }
  }

  .inner {
    background-color: #f7f8f8;
    border-radius: 16px;
    padding: 16px;

    &__wallet{
        display: flex;
        align-items: center;
        background-color: #E0FAEC;
        border: 1px solid #1FC16B;
        border-radius: 12px;
        padding-top: 14px;
        padding-left: 14px ;
        padding-bottom: 16px;
        padding-right: 16px;

        svg{
            margin-right: 14.5px;
        }

        h5{
            font-size: 14px;
            color: #171717;
            font-weight: 500;
        }
        p{
            font-size: 14px;
            color: #1FC16B;
            font-weight: 400;
        }
    }

    .options {
      background-color: #ffffff;
      border: 1px solid #ebebeb;
      padding: 10px;
      border-radius: 11px;
      margin-top: 10px;
      cursor: pointer;

       > div {
        display: flex;
        align-items: center;
        gap: 20px;

        > div {
          > h4 {
            font-family: $font-inter;
            font-size: 14px;
            font-weight: 600;
            color: #000;
            line-height: 24px;
            letter-spacing: -1.5%;
          }
          > p {
            font-family: $font-inter;
            font-size: 12px;
            font-weight: 400;
            color: #5c5c5c;
          }
        }
      }
    }
  }
}
