:root {
  --success-500: #11af22; // Positive status
  --error-500: #d80027; // Errors/destructive
  --warning-500: #ff9500; // Warnings (use with 45% opacity)
  --info-500: #0052b4; // Informational messages
}
