$font-family: "GilroyRegular";
$font-family-bold: "GilroyBold";
$font-inter: "Inter", sans-serif;

$gray: #5D5D5D;
$black: #000000;
$success: #11af22; // Positive status
$error: #d80027; // Errors/destructive
$warning: #ff9500; // Warnings (use with 45% opacity)
$info: #0052b4; // Informational messages